.header{
    height: 120px; 
    color:rgb(255, 255, 255);
    /* background: url('/assets/back.jpg');
    background-size: auto 150px; */
    
}
@media screen and (min-width:1300px) and (max-width:3000px){ 
    .logo{
        width:18vw; height: auto; 
    }
}
@media screen and (min-width:800px) and (max-width:1300px) { 
    .logo{
        width:22vw; height: auto; 
    }
}
@media screen and (min-width: 0px) and (max-width:800px) { 
    
    .hide{
        display: none;
    }
}
