
<footer class="bg-dark text-center text-white footer">
    <!-- Grid container -->
    <div class="container p-4 pb-0 uno">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-sm btn-floating m-1" href="#!" ><i class="bi-cart-check"></i></a>
  
        <!-- Twitter -->
        <a  class="btn btn-outline-light btn-sm btn-floating m-1"  href="#!"><i class="bi-bootstrap"></i></a>
  
        <!-- Google -->
        <a class="btn btn-outline-light btn-sm btn-floating m-1" href="#!" ><i class="bi-bar-chart"></i></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-sm btn-floating m-1" href="#!" ><i class="bi-at"></i></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light  btn-sm btn-floating m-1" href="#!" ><i class="bi-arrow-left-square"></i></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-sm btn-floating m-1" href="#!"><i class="bi-peace"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-1 dos" style="background-color: rgba(0, 0, 0, 0.2);">
      © {{ year  }} Copyright:
      <a class="text-white" href="https://github.com/JavierSaezGarcia?tab=repositories">Javier E. Sáez García</a>
    </div>
    <!-- Copyright -->
    
  </footer>
 