.footer{
    bottom:0px;
    position:fixed;
    background-color: #5c5c5c;
    color:azure;
    height: 120px;
    width:100vw;

}
@media screen and (max-width:970px){ 
    .footer{
        height: 80px;
        font-size:small;
    }
   .uno{
        position:fixed;
        bottom:55px;
        height:40px;
   }
   .dos{
        width:100vw;
        height: 30px;
        position:fixed;
        bottom:0px;
   }
   a{

   }
}
