
@media screen and (max-width:970px){ 
    form{
        margin-top:15px;        
        height:auto;
    }
}
input.ng-invalid, textarea.ng-invalid {
    /* border: 1px solid red; */
    box-shadow: 0px 0px 5px 3px #ff6262;
}