li{
    padding-left:15px;
    
    font-weight: normal;
    
}
.nav-item >  a{
    opacity: 1 !important;
    color: white;
    
}

ul li .active{
    border-bottom:1px solid white;
    
    
}
nav {
    background-color: #31913e; 
    height: 70px;
    
}

@media screen and (max-width:970px){
    nav{
        height: 55px;
        
    }
    ul{
        margin-top: 4px;      
       
        
        
        
        
        
    }
   
    
    li{
        background-color:#ffffff;
        border-bottom: 1px solid rgb(128, 128, 128);
        
        
    }
    li a{
        color: #222222 !important;
        
        
        
       
    }
   
}