<div class="card col-xs-12 myList">
    <div class="card-body">
        <img [src]="recipe.imagePath" alt="" class="img-fluid img-detail">
        <hr>
        <h5 class="card-title">{{ recipe.name }}</h5>
        <hr>
        <div class="btn-group">            
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">Manage Recipe</button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item cursor" (click)="onAddToShoppingList()">To Shoping List</a></li>
                <li><a class="dropdown-item cursor" (click)="onEditRecipe()">Edit Recipe</a></li>
                <li><a class="dropdown-item cursor" (click)="onDeleteRecipe()">Delete Recipe</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <ul class="list-group">
                    <li 
                    class="list-group-item"
                    *ngFor="let ingredient of recipe.ingredients">
                    {{ ingredient.name }} - {{ ingredient.amount }} {{ ingredient.measure }} 
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        

        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <strong>Descripción</strong>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p class="form-control" style="white-space:pre-wrap;text-align: left;">
                            {{ recipe.description }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
   