<div class="row">
    <div class="col-xs-10">
       <app-shopping-edit></app-shopping-edit> 
       <hr>
       <p>The List</p>
       <ul class="list-group col-xs-12 col-md-3">
        <li class="list-group-item active" aria-current="true">An active item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
      </ul>

    </div>
</div>