

<div class="row p-3">
    <div class="list-group myList">
        <!-- [recipe] es la referencia que he exportado con el Input desde recipeListComponent.ts 
        y le asigno el elemento iterador recipeElement para que lo itere -->                    
        <app-recipe-item         
            *ngFor="let recipeElement of recipes; let i = index"            
              [recipe]="recipeElement"
              [index]="i">
        </app-recipe-item>        
    </div>    
</div>
<div class="row">
    <div class="col-xs-12 pt-2 pb-2">        
        <button class="btn btn-sm btn-success" (click)="onNewRecipe()">New Recipe           
        </button>       
    </div>    
</div>

