

<div class="row">
    <div class="col-xs-12 list-group">
        <!-- [recipe] es la referencia que he exportado con el Input desde recipeListComponent.ts 
        y le asigno el elemento iterador recipeElement para que lo itere -->                    
        <app-recipe-item         
            *ngFor="let recipeElement of recipes; let i = index"            
              [recipe]="recipeElement"
              [index]="i">
        </app-recipe-item>        
    </div>
    
    
</div>
<div class="row">
    <div class="col-xs-12" style="padding-left:0px">
        <hr>
        <button class="btn btn-success" appDropdown>New Recipe           
        </button>
        <div class="dropDown">
            <p>Ejemplo de dropdown</p>
            
        </div>
        
        
    </div>
    
</div>
