/* You can add global styles to this file, and also import other style files */

.reset{
    padding: 0px;
    margin: 0px;
}

.img-thumb{
    height: 105px; 
    /* width: 105px; */
    width:  100vw;  
    object-fit: cover;
}


body {
    overflow-x:hidden;     
    background-image: url('assets/fondo3.jpg');    
    background-size: 100% auto;  
    height:auto;
    width: 100vw;
   
}
.bg-white-semi{
    background-color:rgb(255, 255, 255);
    /* opacity: 1; */
    padding:40px;
   
    height: auto;
    width: 100vw;
}


.dropDown.show{
    
   display:block;
   
}

.dropDown{
    
    display: none;   
    
    
}
.cursor{
    cursor: pointer;
}

.fifty-chars {
    
    min-width: 10vw;
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space:pre-wrap;
    text-overflow: ellipsis;
}

.list-group-item.active{
    /** neccesary to show the dropdown manage from de nav */
    z-index:0 !important;
}
.mleft{
    margin-left:0.5rem;
}
.myList{
    height:70vh;overflow-y: auto; overflow-x: hidden;
}

@media screen and (min-width: 0px) and (max-width:800px) { 
    body{
    background-image: url('assets/fondo3.jpg');   
    background-size: 100%;
   
    
    }
    .fifty-chars {    
        
        width: 100%;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        white-space:pre-wrap;
        text-overflow: ellipsis;
    }
    .img-thumb{
        height: auto;
        max-height: 330px;         
        width:  100%;  
        object-fit: cover;
    }
    #navbarNav{
        background-color:white;
    }
    .myList{
        
        max-height: 60vh;
    }
   
}






