<div class="row" >
    <h2 class="">Ingredients</h2>
    <div class="col-xs-12">
        <form (ngSubmit)="onSubmit(form)" #form="ngForm">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input 
                    type="text" 
                    id="name" 
                    class="form-control"
                    name="name"
                    ngModel
                    required
                    >
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input 
                    type="number" 
                    id="amount"
                    class="form-control"
                    name="amount"
                    min="0"
                    ngModel
                    required
                    pattern="^[1-9]+[0-9]*$"
                    >
                </div>
                <div class="col-sm-2 form-group">
                    <label for="measure">Measure</label>
                    <select class="form-select"
                    name="measure"
                    ngModel
                    required>                        
                        <option value="gr" default>Grams</option>
                        <option value="ml">Mililiter</option>
                        <option value="un">Units</option>
                    </select>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-xs-12">
                    <button class="btn btn-success btn-sm" 
                    type="submit"
                    [disabled]="!form.valid">{{ editMode ? 'Update' : 'Add'}}</button>
                    <button 
                        class="btn btn-danger btn-sm ms-2" 
                        type="button" 
                        (click)="onDelete()"
                        *ngIf="editMode">Delete Item</button>
                    <button class="btn btn-primary btn-sm ms-2" type="button" (click)="onClear()">Clear</button>
                    <button class="btn btn-secondary btn-sm ms-2" (click)="printable()"><i class="bi bi-printer-fill"></i> Print</button>
                </div>
            </div>
        </form>
    </div>
</div>